<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		@page {
			size: A4 landscape;
			margin: 1cm;
		}
	</style>
</head>
<body>
<font size="15px" color="#8a2be2"> DAFTAR REKAP MONITORING WATERFLOW INKUBATOR PETERNAKAN X </font>
<br><br>
<table border="1">
	<thead>
		<tr>
			<th>Nama Pemilik</th>
			<th>Kategori</th>
			<th>Tinggi Air</th>
			<th>Debit Air</th>
		</tr>
	</thead>
	<tbody>
		{% for wf in pengontrolan %}
		<tr>
			<td width="40%">{{ wf.nama_pemilik }}</td>
			<td width="15%"> {% if  wf.kategori == 'kb' %} Kurang Baik
				{% elif wf.kategori == 'bk' %} Baik
				{% else %} Bagus
				{% endif %}
			</td>
			<td width="15%" align="right">{{ alat.tinggi }} cm</td>
			<td><br>{{ alat.debit }} Liter/menit<br></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</body>
</html>
