{% extends 'pengontrolan/base.html' %}
{% block content %}
	<a href="{% url 'home_page' %}"> <--Back </a>
	
	<div class="table-responsive">
	<table id="bootstrapdatatable" class="table">
	<thead class="table-dark">
	<th> Nama Pemilik </th>
	<th> Kategori </th>
	<th> Tinggi Air  </th>
	<th> Debit Air </th>
	<th> AKSI </th>
	</thead>
	<tbody>
	<tr>
	<th>{{ pengontrolan.nama_pemilik }} </th>
	<th>{% if wf.kategori == 'kb' %} Kurang Baik
			{% elif wf.kategori == 'bk' %} Baik
			{% else %}Bagus
		{% endif %} </th>
	<th> {{ pengontrolan.tinggi }} cm </th>
	<th> {{ pengontrolan.debit }} ml/detik </th>
	<th><a href="{% url 'data_edit' pengontrolan.id %}"> Edit Data</a> &nbsp;
	<a href="{% url 'data_delete' pengontrolan.id %}">Hapus Data</a> </th>
	</tr>
	</tbody>
	</table>
	</div>
		
{% endblock %}