{% extends 'pengontrolan/base.html' %}
{% block content %}
	<a href="{% url 'data_detail_view' pengontrolan.id %}"><b> <---Back </b></a>
	<h3>!!! Peringatan !!!</h3>
	Apakah anda yakin ingin menghapus Data Pemilik ini : {{ pengontrolan.nama_pemilik }} ?
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="" value="Ya, yakin!">
	</form>
{% endblock %}