{% extends 'pengontrolan/base.html' %}
{% block content %}

	<a href="{% url 'home_page' %}"><b> <-- Back </b></a>
	<h3>Tambah Data Water Flow Inkubator</h3>
	<form action="" method="post">
		{% csrf_token %}
		<div class="form-group">{{ form.as_p }}</div>
		<input type="submit" values="Simpan">
	</form>
{% endblock %}