{% extends 'pengontrolan/base.html' %}
{% block content %}
	<a href="{% url 'data_detail_view' pengontrolan.id %}"><b> <-- Back </b></a>
	<h3>Edit Data </h3>
	<form action="" method="post" class="form-group">
	 
		{% csrf_token %}
		{{ form.as_p }}
	
		<input type="submit" value="Update">
	</form>
{% endblock %}