{% extends 'pengontrolan/base.html' %}
{% block content %}
	<br>
	<div class="container">
     <div class="row align-items-start">
    <div class="col">
    <a  href="{% url 'data_add' %}"><b> Tambah Data</b></a>
    </div>
    <div class="col">
     <a href="{% url 'data_to_pdf' %}"><b>Print PDF </b></a>	
    </div>
    <div class="col">
      
    </div>
    </div>
    </div> 
	  
	  <br>
	<div class="table-responsive">
	<table id="bootstrapdatatable" class="table">
	<thead class="table-dark">
	<th> Nama Pemilik </th>
	<th> Kategori </th>
	
	</thead>
	<tbody>
	{% for wf in pengontrolan %}
		<tr>
		<td><a href="{% url 'data_detail_view' wf.id %}"> {{ wf.nama_pemilik }}</a> </td>
		<td>{% if wf.kategori == 'kb' %}
			Kurang Baik
			{% elif wf.kategori == 'bk' %}
				Baik
				{% else %}
					Bagus
		{% endif %} </td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
		</div>
{% endblock %}